<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/layout/common :: head(~{::title},~{::link})}">
    <title>个人中心</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div class="main">
    <div th:insert="~{/layout/header :: header}"></div>
    <div class="container-fluid">
        <div class="col-xs-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="javascript:void(0);">文章</a></li>
                <li class="sidebar left"><a href="javascript:void(0);" id="left_1">我的文章</a></li>
                <li class="left"><a href="javascript:void(0);" id="left_2">新建分类</a></li>
                <li class="left"><a href="javascript:void(0);" id="left_3">写文章</a></li>
                <li class="left"><a href="javascript:void(0);" id="left_4">我的收藏</a></li>
            </ul>
        </div>
        <div class="col-xs-9">
            <div id="right_1">
                <th:block th:if="${#lists.isEmpty(articles)}">
                    <div class="alert alert-success">您还没有写过文章</div>
                </th:block>
                <th:block th:each="article: ${articles}">
                    <th:block th:if="${not #lists.isEmpty(articles)}">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img src="/image/desc_1.png" style="border-radius: 5px">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <strong><a th:href="@{'/blog/article/detail/' + ${article.getId()}}" th:text="${article.getTitle()}"></a></strong> &emsp;
                                    <small>
                                        <a href="#">分类 : <span th:text="${article.getCategoryName()}"></span></a>
                                    </small>
                                    <small style="float: right;" th:text="${#calendars.format(article.getCreateTime(),'yyyy-MM-dd')}"></small>
                                </h4>
                                <p th:text="${article.getDescription()}"></p>
                                <p style="float: right">
                                    <button type="button" class="btn btn-success btn-sm">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 编辑
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除
                                    </button>
                                </p>
                            </div>
                        </div>
                    </th:block>
                </th:block>
                <th:block th:if="${not #lists.isEmpty(articles)}">
                    <nav aria-label="Page navigation example" style="text-align: right">
                        <ul class="pagination">
                            <li class="page-item">
                                <a th:href="@{/blog/myArticle(categoryId=${categoryId}, pageNum=1, userId=${session.user.getId()})}" data-th-classappend="${not pageInfo.hasPrevious()} ? 'btn disabled' : ''">首页</a>
                            </li>
                            <li class="page-item">
                                <a th:href="@{/blog/myArticle(categoryId=${categoryId}, pageNum=${pageInfo.number+1}-1, userId=${session.user.getId()})}" data-th-classappend="${not pageInfo.hasPrevious()} ? 'btn disabled' : ''">上一页</a>
                            </li>
                            <li class="page-item">
                                <a th:href="@{/blog/myArticle(categoryId=${categoryId}, pageNum=${pageInfo.number+1}+1, userId=${session.user.getId()})}" data-th-classappend="${not pageInfo.hasNext()} ? 'btn disabled' : ''">下一页</a>
                            </li>
                            <li class="page-item">
                                <a th:href="@{/blog/myArticle(categoryId=${categoryId}, pageNum=${pageInfo.totalPages}, userId=${session.user.getId()})}" data-th-classappend="${not pageInfo.hasNext()} ? 'btn disabled' : ''">尾页</a>
                            </li>
                        </ul>
                    </nav>
                </th:block>
            </div>
            <div id="right_2" style="display: none">
                <label>添加分类</label>
                <input id="categoryName" type="text" class="form-control" placeholder="分类名称" style="width: 50%;">
                <div class="alert alert-warning hide" id="a">
                    <strong style="width: 50%">不能为空</strong>
                </div>
                <div class="alert alert-danger hide" id="adderrmsg">is must be not null</div>
                <br>
                <button class="btn btn-primary" id="createCategoryBtn">确定</button>
                <button class="btn" onclick="history.go(-1)">返回</button>
                <br><br>
                <label>已有分类</label>
                <br>
                <th:block th:if="${#lists.isEmpty(categories)}">
                    <div class="alert alert-success">暂无内容</div>
                </th:block>
                <span th:each="category: ${categories}">
                    <th:block th:if="${not #lists.isEmpty(categories)}">
                        <button type="button" class="btn btn-success">
                            <span th:text="${category.getName()}"></span>
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </th:block>
                </span>
            </div>
            <div id="right_3" style="display: none">
                <div class="row">
                    <div class="col-md-6">
                        <label>请输入文章标题</label>
                        <input type="text" class="form-control" placeholder="标题">
                    </div>
                    <div class="col-md-6">
                        <label>请选择文章分类</label>
                        <select class="form-control" style="width: 50%">
                            <th:block th:if="${#lists.isEmpty(categories)}">
                                <div class="alert alert-success">暂无内容</div>
                            </th:block>
                            <span th:each="category: ${categories}">
                                <th:block th:if="${not #lists.isEmpty(categories)}">
                                    <option th:text="${category.getName()}"></option>
                                </th:block>
                            </span>
                        </select>
                    </div>
                </div>
                <label>请输入简介</label>
                <textarea class="form-control" rows="3" placeholder="简介"></textarea>
                <label>请输入正文</label>
                <div id="editor">
                </div>

                <button class="btn btn-primary" id="submitBtn2" style="margin-top: 20px;">保存</button>
                <button class="btn btn-primary" id="" style="margin-top: 20px;">保存并发布</button>
            </div>
            <div id="right_4" style="display: none">
                <div class="alert alert-info">收藏夹空空如也</div>
            </div>
        </div>
    </div>

<script>
    $(function () {
        $("#createCategoryBtn").click(function () {
            var categoryName = $("#categoryName").val();
            if(null == categoryName || categoryName == ""){
                $("#a").removeClass("hide");
                return;
            }
            $("#a").addClass("hide");
            $.ajax({
                type: "post",
                url: "/blog/article/createCategory",
                dataType:"json",
                data: {categoryName: categoryName},
                success:function (data) {
                    if(data == true){
                        alert("添加成功");
                        location.reload();
                    }else{
                        alert("添加失败,请稍候再试");
                    }
                }
            });
        });

        $(".left").click(function () {
            $(this).addClass("sidebar");
            $(this).siblings().removeClass("sidebar");
        });

        var display = "none";
        $("#left_1").click(function () {
            showRight(1);
        });
        $("#left_2").click(function () {
            showRight(2);
        });
        $("#left_3").click(function () {
            showRight(3);
        });
        $("#left_4").click(function () {
            showRight(4);
        });
        function showRight(index) {
            for(var i=1; i<5; i++){
                if(i == index){
                    display = "block";
                }else{
                    display = "none";
                }
                $("#right_" + i).css("display", display);
            }
        }

        var E = window.wangEditor
        var editor = new E('#editor')
        // 或者 var editor = new E( document.getElementById('editor') )
        editor.create()

    });
</script>
</div>
</body>
<script type="text/javascript" src="/js/wangEditor.min.js"></script>
<style>
    .list-inline li{
        text-align: center
    }
    .media:hover{
        box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    }
    .media{
        padding:20px;
        border-radius: 5px;
    }
    .sidebar{
        background-color: #e6e9ed;
    }
</style>
</html>