<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/layout/common :: head(~{::title},~{::link})}">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div class="main">
    <div th:insert="~{/layout/header :: header}"></div>
    <div class="container-fluid" >
        <div class="col-xs-3">
            <div class="thumbnail" style="padding: 30px;">
                <img src="/image/desc_1.png" alt="icon" style="border-radius: 100px;width: 100px; height: 100px;">
                <div class="caption" style="text-align: center">
                </div>
                <div style="text-align: center">
                    <label class="label label-success">博客狂人</label>
                    <label class="label label-success">未来之星</label>
                </div>
                <hr style="width: 90%">
                <ul class="list-inline" style="text-align: center">
                    <li><a href="#"><p>文章</p><p>261</p></a></li>
                    <li><a href="#"><p>喜欢</p><p>817</p></a></li>
                    <li><a href="#"><p>评论</p><p>261</p></a></li>
                    <li><a href="#"><p>新消息</p><p>261</p></a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-8">
            <h1 th:text="${article.title}"></h1>
            <ul class="list-inline">
                <li><h4><span class="label label-success" th:text="${article.getCategoryName()}"></span></h4></li>
                <li><h4><span class="label label-success" th:text="${#dates.format(article.getCreateTime(), 'yyyy-MM-dd')}"></span></h4></li>
            </ul>
            <hr>
            <p th:text="${article.content}"></p>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
</body>
</html>