<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/layout/common :: head(~{::title},~{::link})}">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div class="main">
    <div th:insert="~{/layout/header :: header}"></div>
    <div class="container-fluid" >
        <div class="col-sm-8 col-sm-offset-1" style="border: 1px solid #ddd; box-shadow:0px 0px  10px 5px #ddd;margin-bottom: 150px">
            <h1 th:text="${article.title}"></h1>
            <ul class="list-inline">
                <li><h4><span class="label label-success" th:text="${article.getCategoryName()}"></span></h4></li>
                <li><h4><span class="label label-success" th:text="${#dates.format(article.getCreateTime(), 'yyyy-MM-dd')}"></span></h4></li>
            </ul>
            <hr>
            <h4 style="line-height: 300%; text-indent: 2em; letter-spacing: 2px;" th:text="${article.content}"></h4>
            <a href="javascript:void(0)" class="thumbs_button">赞</a>
        </div>
        <div class="col-sm-3">
            <div style="padding: 20px;">
                <ul class="list-inline">
                    <li><img src="/image/desc_1.png" alt="icon" style="border-radius: 100px;width: 100px; height: 100px;"></li>
                    <li><h3 th:text="${article.getAuthor()}"></h3></li>
                </ul>
                <hr style="width: 100%">
                <ul class="list-inline">
                    <li><a href="#"><p>文章</p><p>261</p></a></li>
                    <li><a href="#"><p>喜欢</p><p>817</p></a></li>
                    <li><a href="#"><p>评论</p><p>261</p></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<style>
    .thumbs_button{
        float: right;
        width:145px;
        margin:5px auto;
        height: 45px;
        line-height: 45px;
        background-color:#444;
        color:#fbfbfb;
        text-align:center;
        text-decoration:none;
        font-weight:bold;
        font-size:16px;
        transition: all 0.3s;
    }
</style>
</html>