<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/layout/common :: head(~{::title},~{::link})}">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div class="main">
<div th:insert="~{/layout/header :: header}"></div>
<div class="container-fluid margin-bottom-50px">
    <div class="col-xs-2">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="javascript:void(0);">文章分类</a></li>
            <li th:each="category: ${categoryList}"><a th:href="@{/blog/article(categoryId=${category.getId()}, pageNum=1)}" th:text="${category.getName()}" th:id="category+${category.getId()}">暂无分类</a></li>
        </ul>
    </div>
    <div class="col-xs-8">
        <th:block th:if="${#lists.isEmpty(articleList)}">
            <div class="no_content">
                <h3>暂无相关内容</h3>
            </div>
        </th:block>
        <th:block th:each="article: ${articleList}">
            <th:block th:if="${not #lists.isEmpty(articleList)}">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img src="/image/desc_1.png" style="border-radius: 5px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <strong><a href="/blog/article/detail/" th:text="${article.getTitle()}"></a></strong> &emsp;
                            <small>
                                <a href="#">分类 : <span th:text="${article.getCategoryName()}"></span></a>
                            </small>
                            <small style="float: right;" th:text="${#calendars.format(article.getCreateTime(),'yyyy-MM-dd')}"></small>
                        </h4>
                        <p th:text="${article.getDescription()}"></p>
                        <p style="float: right">
                            <a href="#">阅读 : <span th:text="${article.getHits()}"></span> &nbsp;</a>
                            <a href="#">喜欢 : <span th:text="${article.getHits()}">291</span></a>
                        </p>
                    </div>
                </div>
            </th:block>
        </th:block>
        <th:block th:if="${not #lists.isEmpty(articleList)}">
            <nav aria-label="Page navigation example" style="text-align: right">
                <ul class="pagination">
                    <li class="page-item">
                        <a th:href="@{/blog/article(categoryId=${categoryId}, pageNum=1)}" data-th-classappend="${pageNum}==1 ? 'btn disabled' : ''">首页</a>
                    </li>
                    <li class="page-item">
                        <a th:href="@{/blog/article(categoryId=${categoryId}, pageNum=${pageNum}-1)}" data-th-classappend="${pageNum}==1 ? 'btn disabled' : ''">上一页</a>
                    </li>
                    <li class="page-item">
                        <a th:href="@{/blog/article(categoryId=${categoryId}, pageNum=${pageNum}+1)}" data-th-classappend="${pageNum}==${totalPage} ? 'btn disabled' : ''">下一页</a>
                    </li>
                    <li class="page-item">
                        <a th:href="@{/blog/article(categoryId=${categoryId}, pageNum=${totalPage})}" data-th-classappend="${pageNum}==${totalPage} ? 'btn disabled' : ''">尾页</a>
                    </li>
                </ul>
            </nav>
        </th:block>
    </div>
</div>
<div th:insert="~{/layout/footer :: footer}"></div>
</div>
<style>
    .sidebar{
        background-color: #e6e9ed;
    }
</style>
<script>
    $(function () {
        var categoryId = [[${categoryId}]];
        $("#category" + categoryId).addClass("sidebar");
    });
</script>
</body>
</html>